:root {
    font-size: 16px;
    --theme-light-body-bg: #F4F4F4;
    --color-nav-unfocused: #969696;
    --color-nav-focused:  #e2bb80;
  }
  

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

img { max-width: 100%; }

body {
    margin: 0;
    background-color: var(--theme-light-body-bg);
}

header {
    position: sticky;
    top: 0;
}

/* Navigation part */
.navigation-bar {
    background: white;
    box-sizing: border-box;
    padding: 2rem;
    -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(0,0,0,0.2);
}

.navigation-bar__main-list {
    text-align: center;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-bar__main-list > a {
    color: var(--color-nav-unfocused);
    box-sizing: border-box;
    text-decoration: none;
    padding: .6rem 2rem;
}


/* Main page part */
.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: justify;
}


@media (min-width:576px) {

    .navigation-bar__main-list  {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation-bar__main-list > a:hover {
        transition: .4s ease-in-out;
        color: var(--color-nav-focused);
        border-bottom: 1px solid black; 
    }
    
}